@import "tailwindcss";


#landingHeader{
  font-size:3rem;
  font-weight: bolder;
  color:#1eeaf9;
  text-shadow:2px 2px 3px pink ;
  width: auto;
  height: auto;
}

html{
  background-color: rgb(115, 34, 228);
  
}

#topLeftBox{
  border: 10px ridge black;
  width: 40rem;
  height: 20rem;
  margin-left: 6rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#landingDescription{
  font-size:1.8em;
  font-weight: lighter;
  color:#00fff2;
  text-shadow:2px 2px 3px pink ;
  margin-left: 0rem;
  margin-top: 0rem;
  line-height: 2.0rem;
  text-align: center;
}

#tryNowButton{
  border: 2px solid white ;
  padding: 5px;
  border-radius: 5%;
  font-size: 1.2rem;
  position: relative;
  top: 1.7rem;
  right:36%;
  background-color: rgb(14, 228, 46);
  font-family: monospace, Arial, Helvetica, sans-serif;
}

#topRightBox{
  border: 10px ridge black;
  width: 40rem;
  height: 20rem;
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#landingDiv{
  display: flex;
  flex-direction: row;
}

#topRightHeader{
  font-size:1.85em;
  font-weight: lighter;
  color:#00fff2;
  text-shadow:2px 2px 3px pink ;
  margin-left: 0rem;
  margin-top: 0.5rem;
  line-height: 2.0rem;
  padding-left: 1rem;
  text-align: left;
  list-style-type: square;

}

#landingChartIMG{
  width: 13rem;
  height: 8rem;
  position: relative;
  bottom:28%;
  left:35%
}

#bottomBox{
  border: 10px ridge black;
  width: 85.5%;
  height: 20rem;
  margin-left: 6rem;
  margin-top: 2rem;
  align-items: center;
  padding: 5px;
  position: absolute;
  bottom: 25px;
}

#bottomParagraph{
  font-size:1.8em;
  font-weight: lighter;
  color:#00fff2;
  text-shadow:2px 2px 3px pink ;
  margin-left: 0rem;
  margin-top: 0rem;
  line-height: 2.0rem;
  text-align: center;
}

#dataTable{
  border: 5px solid black;
  width: 25rem;
  height: 35rem;
  position: absolute;
  left: 10%;
  top: 10%;
}

.dataNameInput{
  border: 3px solid black;
  width: 200px;
  border-top: 0;
  border-left: 0;
  margin-left: 0px;
  text-align: center;
}

#dataHeader{
  display: flex;
  flex-direction: row;
  


}

.value{
  border: 3px solid black;
  width: 195px;
  border-top: 0;
  border-left: 0;
  margin-left: 6px;
  text-align: center;

}
